# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
express-ts-api/dist/index.js
express-ts-api/dist/auth/authController.js
express-ts-api/dist/auth/authRoutes.js
express-ts-api/dist/auth/authService.js
express-ts-api/dist/batches/batchController.js
express-ts-api/dist/batches/BatchModel.js
express-ts-api/dist/batches/batchRoutes.js
express-ts-api/dist/config/database.js
express-ts-api/dist/courses/courseController.js
express-ts-api/dist/courses/CourseModel.js
express-ts-api/dist/courses/courseRoutes.js
express-ts-api/dist/dashboard/dashboardController.js
express-ts-api/dist/dashboard/dashboardModel.js
express-ts-api/dist/dashboard/dashboardRoutes.js
express-ts-api/dist/dashboard/dashboardService.js
express-ts-api/dist/debug/checkUsers.js
express-ts-api/dist/faculties/facultyController.js
express-ts-api/dist/faculties/FacultyModel.js
express-ts-api/dist/faculties/facultyRoutes.js
express-ts-api/dist/middleware/authMiddleware.js
express-ts-api/dist/middleware/roleMiddleware.js
express-ts-api/dist/permissions/permissionController.js
express-ts-api/dist/permissions/PermissionModel.js
express-ts-api/dist/permissions/permissionRoutes.js
express-ts-api/dist/permissions/permissionService.js
express-ts-api/dist/roles/roleController.js
express-ts-api/dist/roles/RoleModel.js
express-ts-api/dist/roles/roleRoutes.js
express-ts-api/dist/roles/roleService.js
express-ts-api/dist/students/studentController.js
express-ts-api/dist/students/StudentModel.js
express-ts-api/dist/students/studentRoutes.js
express-ts-api/dist/user/userController.js
express-ts-api/dist/user/UserModel.js
express-ts-api/dist/user/userRoutes.js
express-ts-api/dist/user/userService.js
express-ts-api/dist/utils/resetDatabase.js
express-ts-api/public/asset-manifest.json
express-ts-api/public/favicon.ico
express-ts-api/public/index.html
express-ts-api/public/logo192.png
express-ts-api/public/logo512.png
express-ts-api/public/manifest.json
express-ts-api/public/robots.txt
express-ts-api/public/sw.js
express-ts-api/public/static/css/main.9cb1bf57.css
express-ts-api/public/static/css/main.9cb1bf57.css.map
express-ts-api/public/static/js/453.43b45cfb.chunk.js
express-ts-api/public/static/js/453.43b45cfb.chunk.js.map
express-ts-api/public/static/js/main.da6deb46.js
express-ts-api/public/static/js/main.da6deb46.js.LICENSE.txt
express-ts-api/public/static/js/main.da6deb46.js.map
